html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    text-align: center;
    background-color: #f4eeed;
    color: #411506;
  }
  
  #logo {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    margin-top: 2rem;
  }
  
  h1 {
    color: #e0a642;
  }
  
  a {
    color: #ebd6a3;
  }